@model OrderRegistration.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form  method="post" action="/home/saveorder" style="margin-top: 50px;">

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.PickupName)
                @Html.TextBoxFor(x => x.PickupName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.PickupAddress)
                @Html.TextBoxFor(x => x.PickupAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.PickupCity)
                @Html.TextBoxFor(x => x.PickupCity, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.DeliveryName)
                @Html.TextBoxFor(x => x.DeliveryName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.DeliveryAddress)
                @Html.TextBoxFor(x => x.DeliveryAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.DeliveryCity)
                @Html.TextBoxFor(x => x.DeliveryCity, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div >
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>